<!DOCTYPE html>
<html>
<head>
    <title>Topics By <%= result[0].creator_name %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
</head>
<body style = "background-color: #c9ddff">
<h1>Topics</h1>
<ul>
    <li><a class="nav" href="../">Home</a></li>
    <li><a class="nav" style ="background-color:#ff0000" href="#">Forums</a></li>
    <li><a class="nav" href="/about">About</a></li>
</ul>
<br/>
<ul>
    <table border="1">
    <tr>Topic Name:<th></th><th>Description:</th><th>Information</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/subject/?subject_date=<%= result[i].date_of_creation %>"><%= result[i].title %></a></td>
        <td><%= result[i].description %></td>
        <td>
            <a href="/user/?user_id=<%= result[i].creator_id %>">
                <%= result[i].creator_name %>
            </a>
            <br />
            <%= result[i].date_of_creation %>
            <br>
        </td>
        <td><form action="/topic/delete/">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].date_of_creation %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
    </table>
</ul>
</body>

</html>