<html>
<head>
    <title>Topics</title>
</head>
<body>
<h1>Topics</h1>

<br />
<table border="1">
    <tr><th>Topic Name:</th><th>Description:</th><th>Information</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/subject/?topic_id=<%= result[i].topic_id %>"><%= result[i].title %></a></td>
        <td><%= result[i].description %></td>
        <td>
            Creator:
            <a href="/user/?account_id=<%= result[i].creator_ID %>">
                <%= result[i].creator_name %>
            </a>
            <br />
            Creation Date: <%= result[i].date_of_creation %>
            <br>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/company/edit/?creator_id=<%= result[i].creator_ID %>'">Edit</button>
            <br/>
            <form action="/topic/delete/">
                <input type="hidden" name="topic_id" id="topic_id" value="<%= result[i].date_of_creation %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<a href="/topic/add">Add New Topic</a> <br />
</body>

</html>