<!DOCTYPE html>
<html>
<head>
    <title>Topics</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
</head>
<body style = "background-color: #c9ddff">
<h1>Topics</h1>
<ul>
    <li><a class="nav" href="../">Home</a></li>
    <li><a class="nav" style ="background-color:#ffffff" href="#">Forums</a></li>
    <li><a class="nav" href="/about">About</a></li>
    <li><a class="nav" href="/user/all">Users</a></li>

</ul>
<br />
<table border="1">
    <tr><th>Topic Name:</th><th>Description:</th><th>Information</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/subject/?topic_id=<%= result[i].topic_id %>"><%= result[i].title %></a></td>
        <td style = 'max-width:750px; word-wrap:break-word;'><%= result[i].description %></td>
        <td style = 'min-width:15em;'>
            Creator:
            <br/>
            <a href="/user/?user_id=<%= result[i].creator_ID %>">
                <%= result[i].creator_name %>
            </a>
            <br />
            Creation Date: <br/> <%= result[i].date_of_creation %>
            <br>
        </td>
        <td style = "text-align: center">
            <button onclick="event.preventDefault();window.location.href='/topic/edit/?topic_id=<%= result[i].topic_id %>'">Edit</button>
            <br/>
            <form action="/topic/delete/">
                <input type="hidden" name="topic_id" id="topic_id" value="<%= result[i].topic_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<a href="/topic/add">Add New Topic</a> <br />
<h5 align="right">There are currently <%= result1[0].subjects%> subjects with over 100 posts!</h5>
</body>

</html>