<html>
<head>
    <% var a; if(result.length > 0){ a = "Subjects In " + result[0].topicTitle } else { a = "Empty Topic" }  %>
    <title>
        <%= a %>
    </title>
    <% ; %>
</head>
<body>
<h1><%= a; %></h1>
<a href="/topic/all">
    Return to Topics
</a>
<ul>
    <table border="1">
        <tr><th>Subject Name:</th><th>Description:</th><th>Information</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><a href="/posts/?subject_id=<%= result[i].subject_id %> &topic_id=<%= topic_id %>"><%= result[i].title %></a></td>
            <td><%= result[i].description %></td>
            <td>
                Creator:
                <a href="/user/?user_id=<%= result[i].creator_id %>">
                    <%= result[i].creator_name %>
                </a>
                <br />
                Creation Date:
                <%= result[i].date_of_creation %>
                <br>
            </td>
            <td><form action="/subject/delete/">
                    <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].date_of_creation %>" />
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
</ul>
<a href="/subject/add?topic_id=<%= topic_id %>">Add New Subject</a> <br />
</body>

</html>