<!DOCTYPE html>
<html>
<head>
    <title>Add New Subject</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
</head>
<body style = "background-color: #c9ddff">
<h1>Add New Subject</h1>
<ul>
    <li><a class="nav" href="../">Home</a></li>
    <li><a class="nav" href="./?topic_id=<%= topic_id%>">Subjects</a></li>
    <li><a class="nav" href="/about">About</a></li>
    <li><a class="nav" href="/user/all">Users</a></li>
</ul>
<br>
<form action="/subject/insert" method="get">
    Subject Name: <input id="subject_name" name="subject_name" type="text" style="width:25em" />
    <br />
    Subject Description: <input id="subject_description" name="subject_description" type="text" style="width:75em" />
    <br />
    <br />
    User:
    <select id="creator_id" name="creator_id">
        <% for(var i=0; user.length > i; i++ ) { %>
        <option value="<%= user[i].user_id %>"><%= user[i].user_id %>: <%= user[i].username %></option>
        <% } %>
    </select>
    <br />
    <input type="hidden" name="topic_id" id="topic_id" value="<%= topic_id %>" />
    <br />
    <input type="submit" value="Create" />

</form>
</body>

</html>