<!DOCTYPE html>
<html>
<head>
    <title>User <%= result[0].user_id %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
</head>
<body style = 'max-width:1000px; word-wrap:break-word;background-color: #c9ddff'>
    <h1>User <%= result[0].user_id%></h1>
    <ul>
        <li><a class="nav" href="/">Home</a></li>
        <li><a class="nav" href="/topic/all">Forums</a></li>
        <li><a class="nav" href="/about">About</a></li>
        <li><a class="nav" href="/user/all">Users</a></li>
    </ul>
    <br/>
    <ul>
        Username: <br /><%= result[0].username %>
        <br /><br />
       Account Created: <br /><%= result[0].creation_date %>
        <br /><br />
       Bio: <br/> <%= result[0].bio %>
    </ul>
</body>

</html>