<!DOCTYPE html>
<html>
<head>
    <title>Add New Post</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
</head>
<body style = "background-color: #c9ddff">
<h1>Add New Post</h1>
<ul>
    <li><a class="nav" href="../">Home</a></li>
    <li><a class="nav" style ="background-color:#ffffff" href="#">Forums</a></li>
    <li><a class="nav" href="/about">About</a></li>
    <li><a class="nav" href="/user/all">Users</a></li>
</ul>
<br>
<form action="/posts/insert" method="get">
    <input id="post_Subject" name="post_Subject" type="text" /> :Subject
    <br />
    <input id="post_Body" name="post_Body" type="text" style="width:500px" /> :Text
    <br />
    <br />
    User:
    <select id="creator_id" name="creator_id">
        <% for(var i=0; user.length > i; i++ ) { %>
        <option value="<%= user[i].user_id %>"><%= user[i].user_id %>: <%= user[i].username %></option>
        <% } %>
    </select>
    <br />
    <input type="hidden" name="subject_id" id="subject_id" value="<%= subject_id %>" />
    <input type="hidden" name="topic_id" id="topic_id" value="<%= topic_id %>" />
    <br />
    <input type="submit" name="Create" />

</form>
</body>

</html>